In [1]:

import pandas as pd
from sklearn.linear_model import LogisticRegression

In [2]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is AA8E-7C58

 Directory of C:\Users\91720\OneDrive\Documents\ExcelR data science

10-06-2022  21:47    <DIR>          .
07-06-2022  21:14    <DIR>          ..
10-06-2022  21:45    <DIR>          .ipynb_checkpoints
26-05-2022  22:13             2,436 50_Startups.csv
23-03-2022  18:19            30,582 Afinn.csv
26-05-2022  22:03            92,594 AI [Regression ].ipynb
10-03-2022  15:29            37,286 Anova and Chisquare.ipynb
23-03-2022  18:19            23,666 apple.txt
30-04-2022  16:58            49,476 Assignment (1).docx
03-05-2022  21:47            51,050 Assignment 1.docx
26-05-2022  22:12            22,462 Assignment 4 Q2.ipynb
01-06-2022  22:30           528,239 Assignment 5 Q1 startup.ipynb
06-06-2022  22:18         1,583,525 Assignment 5 Q2 ToyotaCorolla.ipynb
26-05-2022  22:03            37,653 Assignment-4 Q1.ipynb
08-03-2022  08:32            17,679 Association Rules.ipynb
16-03-2022  07:51            12,569 Bagging_Random Forest_Boosting_Stacking.ipynb
07-06-2022  21:50         4,610,348 bank-full.csv
15-02-2022  08:37           103,983 BEML.csv
15-02-2022  08:37            87,155 beml_df.csv
02-05-2022  21:12               342 Book1.csv
02-05-2022  21:08            10,493 Book1.csv.xlsx
02-05-2022  21:07            10,469 Book1.xlsx
02-05-2022  21:09            10,493 c.xlsx
02-03-2022  08:44             3,527 Cars.csv
04-02-2022  09:02         2,014,447 Chapter 1_ Descriptive Statistics and the Normal Distribution - Natural Resources Biometrics.pdf
10-03-2022  11:21             1,456 chi2.ipynb
07-03-2022  07:36            29,822 claimants (1).csv
07-03-2022  16:37            11,330 Confidence Interval.ipynb
12-05-2022  21:50               525 Cutlets (1).csv
06-04-2022  18:50            67,923 daily-minimum-temperatures (1).csv
14-03-2022  08:54           314,582 Decision Tree_C5.0_CART.ipynb
24-05-2022  21:17               218 delivery_time.csv
05-04-2022  18:41            23,873 diabetes.csv
06-04-2022  18:49             9,197 footfalls.csv
06-04-2022  18:49           116,207 Forecasting Model_Arima (1).ipynb
04-04-2022  18:44           116,207 Forecasting Model_Arima.ipynb
06-04-2022  18:49           889,022 Forecasting_Data Driven Models.ipynb
15-02-2022  08:37           107,633 GLAXO.csv
15-02-2022  08:37            88,939 glaxo_df.csv
10-03-2022  07:37           231,420 Hierarchical Clustering (1).ipynb
09-03-2022  16:36            17,505 Hypothesis Test.ipynb
04-02-2022  09:02         2,025,411 kemh116.pdf
16-03-2022  07:32            31,754 KNN.ipynb
10-06-2022  21:43            62,525 Logistic Regression (1).ipynb
08-03-2022  08:21           234,909 Movie.csv
09-02-2022  07:22             1,336 mtcars.csv
29-05-2022  19:03           791,389 Multi Linear Regression 1
31-05-2022  21:17           622,657 Multi Linear Regression.ipynb
31-05-2022  21:44           789,556 Multi Linear Regression2.ipynb
05-04-2022  18:41           469,559 naive classifier.ipynb
23-03-2022  18:24           142,445 Named Entity Recognition_Emotion Mining_final.ipynb
23-03-2022  18:19            64,714 NLP-Copy1.ipynb
23-03-2022  18:19            61,956 NLP-food-review.csv
05-05-2022  22:29           200,183 Normal Disribution.ipynb
01-05-2022  13:08           235,200 Pandas_Introduction.ipynb
17-03-2022  08:45           137,846 PCA.ipynb
30-03-2022  18:51            23,279 pima-indians-diabetes.data (2) (1).csv
16-03-2022  07:32            23,279 pima-indians-diabetes.data (2).csv
16-03-2022  07:30            23,279 pima-indians-diabetes.data.csv
16-05-2022  21:22            10,408 practice.ipynb
24-04-2022  13:06            48,661 python_morning.ipynb
18-04-2022  22:31               962 Q7.csv
24-04-2022  13:20               502 Q9_a.csv
24-04-2022  13:42             2,420 Q9_b.csv
09-03-2022  07:44           106,193 Recommendation Engine.ipynb
25-04-2022  20:52           628,981 Resume4.pdf
18-03-2022  08:50            45,601 Ridge_Lasso_ElasticNet.ipynb
24-05-2022  21:17               454 Salary_Data.csv
25-04-2022  21:27           335,145 SaurabhPashilkar.pdf
15-02-2022  08:37    <DIR>          ss
07-02-2022  08:55         6,581,156 Stats-ML-in-Python-1641362703 (1).pdf
30-03-2022  18:51            52,649 SVM (1).ipynb
08-03-2022  08:21            44,382 Titanic.csv
26-05-2022  22:13           224,041 ToyotaCorolla.csv
10-03-2022  07:34               827 Universities (1).csv
17-03-2022  08:45               827 Universities (2)
18-04-2022  23:03            29,199 Untitled.ipynb
24-04-2022  13:44            10,491 Untitled1.ipynb
01-05-2022  14:45            10,974 Untitled2.ipynb
02-05-2022  21:20            12,294 Untitled3.ipynb
05-05-2022  22:30             1,520 Untitled4.ipynb
10-06-2022  21:47               589 Untitled5.ipynb
06-04-2022  18:49            83,968 Visualisation.ipynb
24-04-2022  13:19         1,262,990 Visualization_mat_seaborn_Latest.ipynb
06-04-2022  18:49               962 water.csv
25-02-2022  08:49             1,172 wc-at.csv
              82 File(s)     26,804,978 bytes
               4 Dir(s)  134,714,114,048 bytes free

In [5]:
df=pd.read_csv("bank-full.csv",sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [53]:
df["y"].value_counts()

no     39922
yes     5289
Name: y, dtype: int64

In [9]:
columns = ['age', 'balance', 'duration', 'campaign', 'y']
df_sel = df[columns]
df_sel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       45211 non-null  int64
 1   balance   45211 non-null  int64
 2   duration  45211 non-null  int64
 3   campaign  45211 non-null  int64
 4   y         45211 non-null  object
dtypes: int64(4), object(1)
memory usage: 1.7+ MB

In [12]:
df_sel.isna().sum()

age         0
balance     0
duration    0
campaign    0
y           0
dtype: int64

In [19]:
X = df_sel.iloc[:,0:4]
Y = df_sel.iloc[:,4]

In [20]:
X

       age  balance  duration  campaign
0       58     2143       261         1
1       44       29       151         1
2       33        2        76         1
3       47     1506        92         1
4       33        1       198         1
...    ...      ...       ...       ...
45206   51      825       977         3
45207   71     1729       456         2
45208   72     5715      1127         5
45209   57      668       508         4
45210   37     2971       361         2

[45211 rows x 4 columns]

In [21]:
Y

0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

In [22]:
classifier = LogisticRegression()
classifier.fit(X,Y)

LogisticRegression()

In [23]:
classifier.intercept_

array([-3.24652357])

In [24]:
classifier.coef_

array([[ 7.69721804e-03,  3.72191058e-05,  3.54908906e-03,
        -1.39828316e-01]])

In [25]:
y_pred = classifier.predict(X)

In [26]:
y_pred_df= pd.DataFrame({'actual': Y,
                         'predicted_values': classifier.predict(X)})

In [27]:
y_pred_df

      actual predicted_values
0         no               no
1         no               no
2         no               no
3         no               no
4         no               no
...      ...              ...
45206    yes              yes
45207    yes               no
45208    yes              yes
45209     no               no
45210     no               no

[45211 rows x 2 columns]

In [28]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score as ac
confusion_matrix = confusion_matrix(Y,y_pred)
print (confusion_matrix)

[[39342   580]
 [ 4435   854]]

In [29]:
ac(Y,y_pred)

0.8890756674260689

In [30]:
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

          no       0.90      0.99      0.94     39922
         yes       0.60      0.16      0.25      5289

    accuracy                           0.89     45211
   macro avg       0.75      0.57      0.60     45211
weighted avg       0.86      0.89      0.86     45211