In [1]:
pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\91720\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy>=1.15 in c:\users\91720\anaconda3\lib\site-packages (from statsmodels) (1.20.3)
Requirement already satisfied: scipy>=1.1 in c:\users\91720\anaconda3\lib\site-packages (from statsmodels) (1.8.0)
Requirement already satisfied: pandas>=0.21 in c:\users\91720\anaconda3\lib\site-packages (from statsmodels) (1.3.4)
Requirement already satisfied: patsy>=0.5 in c:\users\91720\anaconda3\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\91720\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\91720\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\91720\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sklearn
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
from sklearn.metrics import r2_score

In [3]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is AA8E-7C58

 Directory of C:\Users\91720\OneDrive\Documents\ExcelR data science

26-05-2022  21:52    <DIR>          .
18-05-2022  21:26    <DIR>          ..
26-05-2022  21:52    <DIR>          .ipynb_checkpoints
23-03-2022  18:19            30,582 Afinn.csv
26-05-2022  21:27            92,144 AI [Regression ].ipynb
10-03-2022  15:29            37,286 Anova and Chisquare.ipynb
23-03-2022  18:19            23,666 apple.txt
30-04-2022  16:58            49,476 Assignment (1).docx
03-05-2022  21:47            51,050 Assignment 1.docx
26-05-2022  21:52            37,518 Assignment-4 Q1.ipynb
08-03-2022  08:32            17,679 Association Rules.ipynb
16-03-2022  07:51            12,569 Bagging_Random Forest_Boosting_Stacking.ipynb
15-02-2022  08:37           103,983 BEML.csv
15-02-2022  08:37            87,155 beml_df.csv
02-05-2022  21:12               342 Book1.csv
02-05-2022  21:08            10,493 Book1.csv.xlsx
02-05-2022  21:07            10,469 Book1.xlsx
02-05-2022  21:09            10,493 c.xlsx
02-03-2022  08:44             3,527 Cars.csv
04-02-2022  09:02         2,014,447 Chapter 1_ Descriptive Statistics and the Normal Distribution - Natural Resources Biometrics.pdf
10-03-2022  11:21             1,456 chi2.ipynb
07-03-2022  07:36            29,822 claimants (1).csv
07-03-2022  16:37            11,330 Confidence Interval.ipynb
12-05-2022  21:50               525 Cutlets (1).csv
06-04-2022  18:50            67,923 daily-minimum-temperatures (1).csv
14-03-2022  08:54           314,582 Decision Tree_C5.0_CART.ipynb
24-05-2022  21:17               218 delivery_time.csv
05-04-2022  18:41            23,873 diabetes.csv
06-04-2022  18:49             9,197 footfalls.csv
06-04-2022  18:49           116,207 Forecasting Model_Arima (1).ipynb
04-04-2022  18:44           116,207 Forecasting Model_Arima.ipynb
06-04-2022  18:49           889,022 Forecasting_Data Driven Models.ipynb
15-02-2022  08:37           107,633 GLAXO.csv
15-02-2022  08:37            88,939 glaxo_df.csv
10-03-2022  07:37           231,420 Hierarchical Clustering (1).ipynb
09-03-2022  16:36            17,505 Hypothesis Test.ipynb
04-02-2022  09:02         2,025,411 kemh116.pdf
16-03-2022  07:32            31,754 KNN.ipynb
07-03-2022  07:41            62,524 Logistic Regression (1).ipynb
08-03-2022  08:21           234,909 Movie.csv
09-02-2022  07:22             1,336 mtcars.csv
03-03-2022  07:58           783,684 Multi Linear Regression.ipynb
05-04-2022  18:41           469,559 naive classifier.ipynb
23-03-2022  18:24           142,445 Named Entity Recognition_Emotion Mining_final.ipynb
23-03-2022  18:19            64,714 NLP-Copy1.ipynb
23-03-2022  18:19            61,956 NLP-food-review.csv
05-05-2022  22:29           200,183 Normal Disribution.ipynb
01-05-2022  13:08           235,200 Pandas_Introduction.ipynb
17-03-2022  08:45           137,846 PCA.ipynb
30-03-2022  18:51            23,279 pima-indians-diabetes.data (2) (1).csv
16-03-2022  07:32            23,279 pima-indians-diabetes.data (2).csv
16-03-2022  07:30            23,279 pima-indians-diabetes.data.csv
16-05-2022  21:22            10,408 practice.ipynb
24-04-2022  13:06            48,661 python_morning.ipynb
18-04-2022  22:31               962 Q7.csv
24-04-2022  13:20               502 Q9_a.csv
24-04-2022  13:42             2,420 Q9_b.csv
09-03-2022  07:44           106,193 Recommendation Engine.ipynb
25-04-2022  20:52           628,981 Resume4.pdf
18-03-2022  08:50            45,601 Ridge_Lasso_ElasticNet.ipynb
24-05-2022  21:17               454 Salary_Data.csv
25-04-2022  21:27           335,145 SaurabhPashilkar.pdf
15-02-2022  08:37    <DIR>          ss
07-02-2022  08:55         6,581,156 Stats-ML-in-Python-1641362703 (1).pdf
30-03-2022  18:51            52,649 SVM (1).ipynb
08-03-2022  08:21            44,382 Titanic.csv
10-03-2022  07:34               827 Universities (1).csv
17-03-2022  08:45               827 Universities (2)
18-04-2022  23:03            29,199 Untitled.ipynb
24-04-2022  13:44            10,491 Untitled1.ipynb
01-05-2022  14:45            10,974 Untitled2.ipynb
02-05-2022  21:20            12,294 Untitled3.ipynb
05-05-2022  22:30             1,520 Untitled4.ipynb
26-05-2022  21:52                72 Untitled5.ipynb
06-04-2022  18:49            83,968 Visualisation.ipynb
24-04-2022  13:19         1,262,990 Visualization_mat_seaborn_Latest.ipynb
06-04-2022  18:49               962 water.csv
25-02-2022  08:49             1,172 wc-at.csv
              74 File(s)     18,412,906 bytes
               4 Dir(s)  143,817,846,784 bytes free

In [4]:
sl = pd.read_csv("Salary_Data.csv")

In [5]:
sl

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [7]:
sl=sl.rename({'YearsExperience':'yr_exp', 'Salary':'salary'},axis=1)

In [8]:
first_model = smf.ols("salary~yr_exp",data=sl).fit()

In [9]:
first_model.params

Intercept    25792.200199
yr_exp        9449.962321
dtype: float64

In [10]:
first_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                     622.5
Date:                Thu, 26 May 2022   Prob (F-statistic):           1.14e-20
Time:                        21:57:02   Log-Likelihood:                -301.44
No. Observations:                  30   AIC:                             606.9
Df Residuals:                      28   BIC:                             609.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.579e+04   2273.053     11.347      0.000    2.11e+04    3.04e+04
yr_exp      9449.9623    378.755     24.950      0.000    8674.119    1.02e+04
==============================================================================
Omnibus:                        2.140   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.343   Jarque-Bera (JB):                1.569
Skew:                           0.363   Prob(JB):                        0.456
Kurtosis:                       2.147   Cond. No.                         13.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
first_model.predict(sl)

0      36187.158752
1      38077.151217
2      39967.143681
3      44692.124842
4      46582.117306
5      53197.090931
6      54142.087163
7      56032.079627
8      56032.079627
9      60757.060788
10     62647.053252
11     63592.049484
12     63592.049484
13     64537.045717
14     68317.030645
15     72097.015574
16     73987.008038
17     75877.000502
18     81546.977895
19     82491.974127
20     90051.943985
21     92886.932681
22    100446.902538
23    103281.891235
24    108006.872395
25    110841.861092
26    115566.842252
27    116511.838485
28    123126.812110
29    125016.804574
dtype: float64